.example-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/03/15/35/customer-service-1433639_640.png');
    background-size: contain;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align cards horizontally at the center */
  }
  
  .service-card {
    width: 200px; /* Set the width of each card */
    margin: 10px; /* Add margin to create space between cards */
  }
  
  .example-header-image {
    width: 64px; /* Width of the avatar image */
    height: 64px; /* Height of the avatar image */
    border-radius: 50%; /* Make it circular */
  }
  