<!-- app-header.component.html -->
<mat-toolbar color="primary">
  <span>Field Connect</span>
  <span class="spacer"></span>

  <!-- Display menu for mobile screens -->
  <div fxHide.gt-sm>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <mat-nav-list *ngFor="let item of navItems">
        <button mat-menu-item [routerLink]="item['route']">
          {{ item["lable"] }}
        </button>
      </mat-nav-list>
    </mat-menu>
  </div>

  <!-- Display nav items for larger screens -->
  <div fxHide.lt-md="true" *ngFor="let item of navItems">
    <button class="text-light" mat-menu-item [routerLink]="item['route']">
      {{ item["lable"] }}
    </button>

  </div>
</mat-toolbar>
<router-outlet>
</router-outlet>

<!-- app-footer.component.html -->
<mat-toolbar color="primary">
  <span>copyright @ 2024 </span>
  <!-- Footer links -->
</mat-toolbar>