

<div class="home-img">
  <div class="text-overlay">
    <h1>Field Connect</h1>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, nihil nemo
      quod iusto repudiandae, excepturi consequuntur aliquid quos eius at
      eligendi dignissimos suscipit error fugit explicabo laudantium maxime
      asperiores ea. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
     
    </p>

    <button mat-raised-button color="primary" routerLink="/register">Get Started</button>
  </div>
</div>

<mat-card-title>

  <p class="display-3 text-warn mt-3 text-center">Our Services</p>
</mat-card-title>


<!-- card for services -->

  <mat-grid-list [cols]="defaultCols" [rowHeight]="defaultRow" >
  <mat-grid-tile>
    <mat-card class="example-card " >
      <mat-card-header class="example-card-header">
        <mat-card-title>Former</mat-card-title>
        <mat-card-subtitle>Can book Worker and Service</mat-card-subtitle>
      </mat-card-header>
      <div class="example-card-header">  
        <img mat-card-image  src="/assets/images/former.jpg" height="300px" width="300px" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header class="example-card-header">
        <mat-card-title>Field Worker</mat-card-title>
        <mat-card-subtitle>Will get field work</mat-card-subtitle>
      </mat-card-header>
      <div class="example-card-header">  
      <img mat-card-image src="/assets/images/fieldworker.png" height="300px" width="300px" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content> 
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header class="example-card-header">
        <mat-card-title>Service Provider</mat-card-title>
        <mat-card-subtitle>Will provide services</mat-card-subtitle>
      </mat-card-header>
      <div class="example-card-header">  
      <img mat-card-image  src="/assets/images/service_provider.jpg" height="300px" width="300px" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content> 
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



